.navbar-transparent {
  background: transparent;
  transition: background 0.4s;
}

.navbar-dark {
  background: rgba(30, 41, 59, 0.92); /* dark semi-transparent */
  transition: background 0.4s;
}

/* From Uiverse.io by akshat-patel28 */ 
.button-container {
  display: flex;
  background-color: rgba(245, 73, 144);
  width: 250px;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
        rgba(245, 73, 144, 0.5) 5px 10px 15px;
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}
@keyframes rotate-gold {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.gold-border {
  position: absolute;
  inset: 0;
  padding: 2px; /* border thickness */
  border-radius: 0.5rem; /* rectangle corners */
  background: linear-gradient(90deg, #FFD700, #FFA500, #FFD700);
  background-size: 300% 300%;
  animation: none;
  z-index: 1;
}

.group:hover .gold-border {
  animation: rotate-gold 1.5s linear infinite;
}

.inner-bg {
  position: absolute;
  inset: 0;
  background: transparent;
  border-radius: 0.5rem;
  z-index: 0;
  transition: background 0.3s ease;
}

.group:hover .inner-bg {
  background: black;
}


